

<% @items.each do |item| %>
	<% if user_signed_in? %>
		<% if item.user_id == current_user.id %>
			<h2><%= link_to item.title, item_path(item) %></h2>			
			<h3><%= item.description %></h3>	
		<%end%>
	<%end%>
<%end%>